<a href="https://colab.research.google.com/github/cenzwong/MSBD5012/blob/main/River.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# River Implementation

In [2]:
!pip install git+https://github.com/online-ml/river --upgrade
!pip install -U numpy

Collecting git+https://github.com/online-ml/river
  Cloning https://github.com/online-ml/river to /tmp/pip-req-build-3ye40g6d
  Running command git clone -q https://github.com/online-ml/river /tmp/pip-req-build-3ye40g6d
Requirement already satisfied: numpy>=1.18.1 in /usr/local/lib/python3.7/dist-packages (from river==0.8.0) (1.19.5)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from river==0.8.0) (1.4.1)
Requirement already satisfied: pandas>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from river==0.8.0) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.1->river==0.8.0) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.1->river==0.8.0) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.1->river==0.8.0) (1.15.0)
Building wheels for collected packages: river
  Building wheel for river (setup.py) ... done
  Created wheel for river: filename=river-0.8.0-cp37-cp37m-linux_x86_64.whl size=2139902 sha256=f4f07b434f2c00ad6cb762f0604a0d8610916bbb027beb2a4ebc0a47f4db73ea
  Stored in directory: /tmp/pip-ephem-wheel-cache-z9_37tki/wheels/a1/81/b6/35dc3f68cb6c44cc3967a6a2f40410150d6ed5df2ff2b83f41
Successfully built river
Installing collected packages: river
Successfully installed river-0.8.0
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Collecting numpy
  Downloading numpy-1.21.4-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     |████████████████████████████████| 15.7 MB 60 kB/s
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.19.5
    Uninstalling numpy-1.19.5:
      Successfully uninstalled numpy-1.19.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
yellowbrick 1.3.post1 requires numpy<1.20,>=1.16.0, but you have numpy 1.21.4 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed numpy-1.21.4

In [1]:
# !gdown https://drive.google.com/uc?id=1LHDaW3vqUBcA7yPUh3CiV5muJn7d0EFD
!wget https://raw.githubusercontent.com/cenzwong/MSBD5012/main/data/train.csv.zip -O train.csv.zip
!unzip train.csv.zip

--2021-11-18 15:53:11--  https://raw.githubusercontent.com/cenzwong/MSBD5012/main/data/train.csv.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 23570978 (22M) [application/zip]
Saving to: ‘train.csv.zip’

train.csv.zip       100%[===================>]  22.48M  --.-KB/s    in 0.1s

2021-11-18 15:53:12 (202 MB/s) - ‘train.csv.zip’ saved [23570978/23570978]

Archive:  train.csv.zip
  inflating: train.csv

In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv('/content/train.csv', header = 0)
df_train['date'] = pd.to_datetime(df_train['date'], format = "%Y-%m-%d")
df_sales = df_train.loc[(df_train['family'] == 'MAGAZINES') & (df_train['date'] >= '2014-01-01')].groupby(['date']).sum().copy()
df_sales = df_sales.loc[:, 'sales':'sales']

In [4]:
df_train

              id       date  ...     sales onpromotion
0              0 2013-01-01  ...     0.000         0.0
1              1 2013-01-01  ...     0.000         0.0
2              2 2013-01-01  ...     0.000         0.0
3              3 2013-01-01  ...     0.000         0.0
4              4 2013-01-01  ...     0.000         0.0
...          ...        ...  ...       ...         ...
3000883  3000883 2017-08-15  ...   438.133        15.0
3000884  3000884 2017-08-15  ...   154.553         8.0
3000885  3000885 2017-08-15  ...  2419.729       148.0
3000886  3000886 2017-08-15  ...   121.000        10.0
3000887  3000887 2017-08-15  ...    16.000         2.0

[3000888 rows x 6 columns]

In [3]:
df_sales

            sales
date
2014-01-01    1.0
2014-01-02   41.0
2014-01-03   24.0
2014-01-04   33.0
2014-01-05   23.0
...           ...
2017-08-11  500.0
2017-08-12  483.0
2017-08-13  469.0
2017-08-14  457.0
2017-08-15  461.0

[1320 rows x 1 columns]

In [16]:
from river import stream

rv_train = stream.iter_csv(
    '/content/train.csv',
    converters={
        'id': int,
        'family': str,
        'onpromotion': float,
        'store_nbr': int,
        'sales':float
    },
    parse_dates={'date': '%Y-%m-%d'},
    target='sales'
)

next(rv_train)

({'date': datetime.datetime(2013, 1, 1, 0, 0),
  'family': 'AUTOMOTIVE',
  'id': 0,
  'onpromotion': 0.0,
  'store_nbr': 1},
 0.0)

In [24]:
next(rv_train)

({'date': datetime.datetime(2013, 1, 1, 0, 0),
  'family': 'DAIRY',
  'id': 8,
  'onpromotion': 0.0,
  'store_nbr': 1},
 0.0)

In [25]:
# https://riverml.xyz/latest/user-guide/reading-data/